.gallery {
  width: 638px;
}

.mainImageWrapper {
  position: relative;

  width: 638px;
  height: 505px;

  overflow: hidden;
  border-radius: 17px;
}

.mainImage {
  object-fit: cover;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;

  margin-top: 27px;
}

.thumbnailWrapper {
  position: relative;

  width: 135px;
  height: 144px;

  overflow: hidden;
  border-radius: 16px;
}

.thumbnailImage {
  object-fit: cover;
}
